@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --font:'Red Hat Display', sans-serif;
    --medium: 500;
    --bold:700;
    --black:900;
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--Paleblue);
    text-align: center;
    font-family: var(--font);
    
}

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
}


.hero__section {
    height: 35.5rem;
    width: 20.375rem;
    border-radius: 20px;
    background-color: var(--Verypaleblue);
    margin: auto;  
}

.hero__image {
    height: 10rem;
    width: 20.375rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hero__head {
    font-weight: var(--black);
    color: var(--Darkblue);
}

.hero__para {
    margin: 0rem 2.375rem;
    color: var(--Desaturatedblue);
    line-height: 25px
}

.hero__midSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5625rem auto 0rem;
    height: 5rem;
    width: 17.25rem;
    background-color: var(--Verypaleblue);
    border-radius: 10px;
    padding: 0px 5px;
    
   
}

.hero__price {
    display: flex;
    flex-direction: column;
}

.hero__price > span:not(:first-child) {
    color: var(--Desaturatedblue);
    font-weight: var(--black);
}

.hero__btn {
    width: 17.375rem;
    height: 3rem;
    border-radius: 10px;
    margin-top: 1.5625rem;
    background-color: var(--Brightblue);
    color: var(--Verypaleblue);
    font-weight: var(--black);
    font-size: .90rem;
    border: none;
    box-shadow: 0px 10px 8px hsl(224, 23%, 80%)
}

.hero__change {
    font-size: .75rem;
    font-weight: var(--black);
}


.hero__para2 {
    color: var(--Desaturatedblue);
    font-weight: var(--bold);
    margin-top: 1.5625rem;
}

@media only screen and (min-width: 810px)  {
    .hero {
        background-image: url('./images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hero__section {
        height: 695px;
        width: 450px;
    }
    .hero__image {
        height: 220px;
        width: 450px;
    }

    .hero__head {
        margin-top: 52px;
    }
    
    .hero__para {
        margin: 0rem 75px;
    }

    .hero__btn {
        width: 352px;
        height: 48px;
    }
    
}